@model IEnumerable<ProyectoMVC.Model.Prestamos>

@{
    ViewBag.Title = "ListarPrestamosFinalizados";
}

<h2>Prestamos Finalizados</h2>

<table class="table  table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedulaDelCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placaDelVehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDePrestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaDeDevolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoDePrestamo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montoACancelar)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cedulaDelCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.placaDelVehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDePrestamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaDeDevolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoDePrestamo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoACancelar)
        </td>
    </tr>
}

</table>
